
.cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.2rem 0.4rem;
    background: lightseagreen;
    border: none;
    color: whitesmoke;
    font-size:1.4 rem;
    border-radius: 0.5rem 0 0 0;
}
